/* 
    font for the title of the page
*/
@font-face {
    font-family: Ninja;
    src: url("../fonts/aAsianNinja.ttf");
}

/*
    Default parameters for the page
*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
}

.container{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

/*
    Page title use specific font
*/
h1{
    font-family: 'ninja', cursive;
}

h1,h2,h3 {
    margin: 1em;
}

/*
    Each player div use same horizontal space
*/
.player {
    width: 49%;
}

/*
    Images use the max width avaible and resize height to maintain ratio
*/
img{
    width: 100%;
    height: auto;
}

/*
    Image of "Ordinateur" and buttons use 30% width of their div
*/
img[alt="Ordinateur"], button {
    width:30%;
}

/*
    Game messages margins and height definition
*/
#playerPlay, #robotPlay, #endGame {
    min-height: 1rem;
    margin: .25rem;
    margin-bottom: .5rem;
}